.painelLateral {
    width: var(--asideWidth);
    height: calc(100vh);
    padding: calc(var(--altBarraSuperior) + 1.5rem) var(--pdLateral) 1.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bgAside);
    
    position: fixed;
    top: 0;
    left: calc(-1.2 * var(--asideWidth));
    transition: all .6s ease-in-out;
}

.shown {
    left: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

li a {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.superior {
    overflow-y: auto;
}

.inferior {
    border-top: 1px solid var(--borda);
    padding-top: 1rem;
}

.inferior menu {
    flex-direction: column-reverse;
    gap: 1em;
}

.inferior li a {
    white-space: nowrap;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
}