.painelLateral {
    width: var(--asideWidth);
    height: calc(100vh);
    padding: calc(var(--altBarraSuperior) + 1.5rem) var(--pdLateral) 1.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bgAside);
    
    position: fixed;
    top: 0;
    left: calc(-1.2 * var(--asideWidth));
    transition: left .6s ease-in-out;

    z-index: 12;
}

.shown {
    left: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.painelLateral li a {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.superior {
    overflow-y: auto;
}