.barraSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--pdLateral);
    z-index: 10;
    
    background: var(--bgHeader);
    border-bottom: 1px solid var(--borda);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--altBarraSuperior);
}

.barraSuperior__esquerda button {
    background-color: transparent;
}

.barraSuperior__direita {
    display: flex;
    gap: 1rem;
}

.botoes {
    height: 30px;
    object-fit: contain;
}

.botoes.janela {
    width: 10px;
    cursor: pointer;
}

.botoes.janela.fechar:hover {
    color: var(--red);
}