@keyframes sombra {
    from {box-shadow: none;}
    to {box-shadow: 0 0 10px rgba(0,0,0,0.2);}
}

.barraSuperior {
    position: fixed;
    top: 0;
    padding-left: var(--asideWidth);
    left: 0;
    right: 0;
    background-color: var(--bgGeral);
    z-index: 10;

    animation: sombra .6s ease-in-out 1ms forwards;
    animation-timeline: scroll();
    animation-range: normal 10%;
}

.barraSuperior__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem var(--pdLateral);
    width: min(900px, 100%);
    margin-inline: auto;
}

.barraSuperior__esquerda button {
    background-color: transparent;
}

.barraSuperior__direita {
    display: flex;
    gap: 1rem;
}

.botoes {
    height: 30px;
    object-fit: contain;
}

.botoes.janela {
    width: 10px;
    cursor: pointer;
}

.botoes.janela.fechar:hover {
    color: var(--red);
}

.menuThreeDots {
    position: relative;
}

.btnToggleMenu {
    background: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: .5rem;
    transform: translateX(30px);
    transition: all .6s ease-in-out;
}

.btnToggleMenu:hover {
    background-color: var(--borda);
}