/*
 É necessário definir a variável --swiper-theme-color em index.css 
 para alterar a cor dos elementos
*/
.swiper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    text-align: center;
}

.slide__item {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}
